<%- include('partials/header') %>
    <h1>All The Cats</h1>
    <ul>
        <% for(let cat of catsList) { %>
        <li><%= cat %></li>
        <% } %>
    </ul>
    <%- include('partials/footer') %>
