<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random number</title>
</head>
<body>
    <h1>Your Random Number Is:
        <!-- <%=Math.floor(Math.random() * 10 ) + 1 %> loads more time on the browser make it in a optimesed way by keeping this code in api call -->
        <%= number %>
    </h1>
   
</body>
</html>